@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}